@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body, html {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #637381;
}
.title {
  font-family: "Rouge Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.flex-colo {
  @apply flex flex-col justify-center items-center;
}
input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-textsecondary transform -translate-y-6 -translate-x-2 scale-90;
}

.placeholder-shown {
  @apply text-textsecondary transform -translate-x-2 -translate-y-6 scale-90;
}
.hover-link {
  @apply hover:text-primary_main transition-all duration-200 ease-in-out;
}

.button-hover {
  @apply hover:bg-primary_dark transition-all duration-200 ease-in-out;
}

.button-social-hover {
  @apply hover:bg-login1 transition-all duration-200 ease-in-out;
}

.tab {
  position: relative;
}


.animate-slide-in-from-right {
  animation: slide-in-from-right 1.5s forwards;
}


.animate-background-in-from-right {
  animation: slide-in-from-right 1s forwards;
}

@keyframes slide-in-from-right {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}

.tab::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 4px;
  background: #ffc107;
  transition: width 0.4s;
}


.tab.selected::after {
  width: 50%;
}

.flex-rows {
  @apply flex flex-row justify-center items-center;
}

.flex-btn {
  @apply flex justify-between items-center;
}

.transitions {
  @apply transition duration-300 ease-in;
}

.zIndex {
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  justify-content: center;
  border-radius: 50%;
  background: rgba(28,17,41,0.88);
}
.link {
  @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer
    cursor-default duration-300 font-semibold;
}
.active {
  @apply bg-other30 text-other20;
}